body {
  font-family: system-ui, sans-serif;
  padding: 20px;
  background-color: #232d37;
}

.stats {
  max-width: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eaeaea;
}

.stat {
  display: grid;
  grid-template-columns:40px 40px 1fr;
  gap: 12px;
  margin: 10px;
  align-items: center;
}

.stat-value {
  line-height: 40px;
  text-align: center;
  font-weight: 600;
}

.stat-bar {
  height: 40px;
  overflow: hidden;
  position: relative;
  align-items: center;
}

.stat-fill {
  height: 40px;
  width: 0; /* start at 0 for animation */
  transition: width 1s ease-out; /* smooth animation */
}

.stat-name {
  text-transform: capitalize;
  font-weight: 600;
  line-height: 40px;
  text-align: right;
  align-items: center;
  box-sizing: border-box;
}

.bst {
  display: grid;
  grid-template-columns:40px 40px 1fr;
  gap: 12px;
  margin: 10px;
  align-items: center;
}

.bst-value {
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  background-color: #ffffff;
}

.bst-name {
  text-transform: capitalize;
  font-weight: 600;
  line-height: 40px;
  text-align: right;
  align-items: center;
  box-sizing: border-box;
}